{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web-Tech</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo_small_2.png'%}" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
      <script type="text/javascript" src="{% static 'js/crisp.js' %}"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer">
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
      integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer">
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.7/odometer.min.js"
      integrity="sha512-v3fZyWIk7kh9yGNQZf1SnSjIxjAKsYbg6UQ+B+QxAZqJQLrN3jMjrdNwcxV6tis6S0s1xyVDZrDz9UoRLfRpWw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
      integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
      integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.7/themes/odometer-theme-default.css"
      integrity="sha512-kMPqFnKueEwgQFzXLEEl671aHhQqrZLS5IP3HzqdfozaST/EgU+/wkM07JCmXFAt9GO810I//8DBonsJUzGQsQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"/>
</head>
  <body>
    <nav id="main-nav" class="blur">
      <div class="logo">Web-Tech</div>
      <label for="btn" class="icon">
        <span class="fa fa-bars"></span>
      </label>
      <input type="checkbox" id="btn" />
      <ul>
        <li class="trans_li"><a href="{% url 'main' %}">Головна</a></li>
        <li class="trans_li">
          <label for="btn-1" class="show">Домен +</label>
          <a>Домен</a>
          <input type="checkbox" id="btn-1" />
          <ul>
            <li><a href="{% url 'domain_check:domain_check_page' %}">Перевірка домену</a></li>
          </ul>
        </li>
        <li class="trans_li">
          <label for="btn-2" class="show">Хостинг +</label>
          <a>Хостинг</a>
          <input type="checkbox" id="btn-2" />
          <ul>
            <li><a href="{% url 'host_page:host' %}">Віртуальний-хостинг</a></li>
            <li><a href="{% url 'host_page:vps_hosting_view' %}"> VPS-хостинг</a></li>
            <li><a href="{% url 'host_page:cloud_hosting_view' %}">Хмарний хостинг</a></li>
          </ul>
        </li>
        <li class="trans_li">
          <label for="btn-3" class="show">Сервіс +</label>
          <a>Сервіс</a>
          <input type="checkbox" id="btn-3" />
          <ul>
            <li><a href="{% url 'ftp_storage:ftp_page' %}">FTP-сховище</a></li>
          </ul>
        </li>
        <li class="trans_li">
          <label for="btn-4" class="show">Про нас +</label>
          <a>Про нас</a>
          <input type="checkbox" id="btn-4" />
          <ul>
            <li><a href="{% url 'ab_cu_t:faq_page' %}"> FAQ (часті запитання)</a></li>
            <li>
              <a href="{% url 'ab_cu_t:privacy_policy' %}"> Політика конфіденційності </a>
            </li>
          </ul>
        </li>
        <li class="trans_li"><a href="{% url 'contact:contact_us_page' %}">Контакти</a></li>
        {% if user.is_authenticated %}
          <li class="trans_li">
            <label for="btn-5" class="show cent_sh"><a class="sign_in">{{ user.username }} +</a></label>
          <a class="sign_in">{{ user.username }}</a>
          <input type="checkbox" id="btn-5" />
          <ul class="cent_sh">
            <li><a>Кабінет</a></li>
            <li><a href="{% url 'form:logout' %}">Вийти</a></li>
          </ul>
          </li>
        {% else %}
          <li class="trans_li"><a href="{% url 'form:login' %}" class="sign_in">Увійти</a></li>
        {% endif %}

      </ul>
    </nav>
    <div class="privacy" style="word-break: break-word">
      <h1>Загальні умови обслуговування</h1>
       <h4>Останнє оновлення:</h4>
       <p>1 травня 2024 р.</p>
       <p>БУДЬ ЛАСКА, УВАЖНО ПРОЧИТАЙТЕ ЦІ УМОВИ НАДАННЯ СЛУЖБ.</p>
       <p>
         Web-Tech пропонує клієнтам різноманітні послуги від
         послуги хостингу та веб-сайтів (включаючи спільні, VPS і виділені
         хостинг, хостинг WordPress, Remixer, електронна пошта, хмарні служби та домен
         реєстраційні послуги серед іншого. Ці послуги є колективними
         іменуються «Послуги».
       </p>
       <p>
         Використовуючи Послуги Web-Tech, Клієнт погоджується з цими Умовами обслуговування
         а також будь-які інші політики чи умови, на які ми посилаємося чи опубліковані нами
         (разом «Умови»). Якщо Клієнт не приймає ці Умови,
         Клієнт не повинен реєструвати обліковий запис, купувати, отримувати доступ або використовувати
         Послуги Web-Tech будь-яким способом.
       </p>
       <p>
         Ці Умови становлять обов’язкову юридичну угоду між Web-Tech та будь-якими
         особа чи організація, яка купує, отримує доступ або використовує Web-Tech
         Послуги («Клієнт» або «Ви»). Клієнт представляє, гарантує та
         погоджується з тим, що (а) Клієнт має всі повноваження та повноваження укладати
         і виконувати згідно з цими Умовами, або (б) якщо Клієнт використовує їх
         Послуги від імені організації, юридичної особи або групи, що надає Клієнт
         має право прийняти ці Умови.
       </p>
       <p><strong>Інформація про обліковий запис</strong></p>
       <ol>
         <li>
           Ви погоджуєтеся надавати певну актуальну, повну та точну інформацію
           інформацію про вас відповідно до процесу створення облікового запису, а також
           підтримувати або оновлювати цю інформацію за потреби, щоб підтримувати її актуальною,
           повний і точний. Уся така інформація має згадуватися як
           відомості про обліковий запис («Інформація про обліковий запис»).
         </li>
         <li>
           Цим ви надаєте нам право розкривати третім сторонам, у
           відповідно до нашої Політики конфіденційності та Доповнення щодо обробки даних, наприклад
           Інформація про обліковий запис для цілей запобігання та забезпечення шахрайства
           безпека та цілісність систем Web-Tech.
         </li>
        <li>
           Надання будь-якої неправдивої інформації про обліковий запис вважається порушенням
           Умови Web-Tech. Web-Tech може відмовити у створенні облікового запису
           якщо він вважає на власний розсуд, що будь-яка неповна, або
           під час створення облікового запису надається неточна інформація про обліковий запис.
           Будь-які платежі, здійснені на такий відхилений рахунок, будуть відшкодовані
           або скасовано.
         </li>
         <li>
           Web-Tech може призупинити або вимкнути будь-який існуючий обліковий запис без відшкодування
           якщо Клієнт навмисно не оновить Інформацію облікового запису
           після його зміни або не відповідає протягом п’ятнадцяти (15) календарних днів
           днів на запити Web-Tech щодо точності будь-якого Облікового запису
           Інформація.
         </li>
       </ol>
       <p><strong>Фінансові домовленості</strong></p>
       <p>
         Клієнт погоджується на мінімальний тридцяти (30)-денний контракт, починаючи з
         початок служби. Точна тривалість контракту визначається на
         реєстрація.
       </p>
       <p>
         Клієнт погоджується з тим, що всі збори та комісії, пов’язані з обліковим записом
         їхня виключна відповідальність.
       </p>
       <p>
         Якщо клієнт бажає скасувати послуги спільного веб-хостингу Web-Tech
         протягом дев'яноста семи (97) днів після початкової реєстрації вони зможуть
         робити це з будь-якої причини (крім вимкнення через Умови використання або
         Порушення політики спаму) і негайно повернути гроші.
       </p>
      <p>
         Послуги, що надаються третіми сторонами та партнерами Web-Tech, не є частиною
         97-денна політика відшкодування та кредит дострокового завершення не застосовуються. Виставлення рахунків
         припиниться в кінці терміну, протягом якого послуга скасована.
       </p>
       <p>
         <strong>АВТОМАТИЧНЕ ПОНОВЛЕННЯ</strong>:
         <strong>
           Після закінчення терміну дії договору договір укладається автоматично
           поновити за чинним на той час нерекламним тарифом для оригіналу
           тривалість контракту на невизначений термін до розірвання.
         </strong>
       </p>
       <p>
         <strong>
           Web-Tech автоматично поновить відповідну послугу, коли вона
           надходить для поновлення та стягує платіж із способу оплати
           пов’язані з вашим обліковим записом. Якщо ви не бажаєте жодної послуги
           автоматично поновити, ви можете скасувати цю послугу, у якій
           ваші Послуги буде припинено після закінчення поточного терміну дії
           термін, якщо ви вручну не поновите свої Послуги до цієї дати. Будь-який
           Послуги мають бути скасовані до дати їх поновлення, щоб
           уникнути автоматичного поновлення. Дати поновлення набувають чинності опівночі,
           PST.
         </strong>
       </p>
       <p>
         <strong>
           Якщо платіжна картка клієнта виявляється простроченою, недійсною,
           або іншим чином не можуть бути стягнені, клієнт погоджується з цим
           Web-Tech може використовувати інші способи оплати, пов’язані з банком клієнта
           обліковий запис (наприклад, нові облікові дані кредитної картки від емітента вашої картки).
           Якщо послугу спільного хостингу припинено після 97-денного повернення грошей
           гарантійного терміну, послуга буде скасована до наступного платежу
           термін погашення, і більше не виставлятиметься рахунок і не буде жодних платежів
           повертається навіть за невикористані порції. Якщо є якісь збори, що не підлягають відшкодуванню
           вже понесені, вони повинні бути оплачені до того, як рахунок може бути
           скасовано.
         </strong>
       </p>
       <p>
         <strong>
           Ви можете скасувати, увійшовши до
           <a><strong>Керування обліковим записом</strong></a>
           сторінку панелі. Детальні та актуальні інструкції щодо скасування можуть бути
           знайдено
           <a><strong>тут</strong></a>.</strong>
       </p>
      <p>
         Пропозиція «97-денна гарантія повернення грошей» стосується лише кредиту
         оплата карткою для спільного веб-хостингу. Інші форми оплати є
         повернення не підлягає. Відшкодування може бути оброблено лише для спільного хостингу. Домен
         реєстрацій (включаючи вартість будь-яких використаних безкоштовних реєстрацій доменів
         включені в план) не повертаються ні за яких обставин. SSL
         сертифікати поверненню не підлягають. Вартість будь-якого кредиту AdWords або
         інші додатки сторонніх розробників не повертаються. Див
         <a>Умови реєстрації домену</a>
         для отримання додаткової інформації.
       </p>
       <p>
         На розсуд Web-Tech можуть виникнути порушення Умов Web-Tech
         негайної та постійної втрати працездатності без повернення коштів.
       </p>
       <p>
         Web-Tech залишає за собою право вимкнути або призупинити без повернення коштів
         обліковий запис або послугу в будь-який час, якщо він вважає, на власний розсуд,
         що є обґрунтована підозра, що він використовується з порушенням
         будь-яких узгоджених умов.
       </p>
       <p>
         Оскаржені платежі ("відкликання платежів"), пов’язані з будь-яким обліковим записом Web-Tech,
         на розсуд Web-Tech може призвести до негайного та потенційно
         остаточне відключення Сервісів або повного облікового запису. Кожен відхилений
         стягуватиметься комісія в розмірі 50 доларів США на рахунок, яку необхідно сплатити перед будь-яким
         Послуги можуть бути повторно активовані.
       </p>
       <p>
         Web-Tech залишає за собою право змінювати поточні плани обслуговування, тарифи та
         відповідні збори в будь-який час. Послуги, які включають застарілі або
         непідтримувані функції можуть призвести до додаткової плати за обслуговування. В таких
         ситуацій Web-Tech повідомить Клієнта та дозволить
         Клієнт має скасувати Послуги без додаткових змін
         комісії, але жодні раніше оцінені комісії не повертаються.
       </p>
       <p>
         Web-Tech докладатиме комерційно обґрунтованих зусиль для створення Web-TechObjects
         доступний 99,9% часу протягом кожного місячного платіжного циклу. Якщо
         Web-Tech не може задовольнити цей рівень обслуговування, ви матимете на це право
         отримайте кредит для застосування до майбутніх платіжних циклів Web-TechObjects
         при Недоступності за цей місяць.
       </p>
       <ol>
         <li>
           Для цілей цієї угоди Недоступність означає або те, що інше
           (a) служба Web-TechObjects не відповідає, або (b) Web-TechObjects
           повертає відповідь про помилку сервера на дійсні запити користувача більше ніж
           60 секунд послідовних запитів.
         </li>
        <li>
           Недоступність, яка є результатом планового технічного обслуговування, виключається
           з цих умов і не розглядатиметься як кредит на обслуговування
           розрахунки. Планове технічне обслуговування визначається як технічне обслуговування, тобто
           оголошується принаймні за 5 днів і не перевищує однієї години
           будь-який місяць.
         </li>
         <li>
           Сервісні кредити розраховуватимуться як відсоток від рахунку за
           платіжного циклу, що сталася Недоступність. Відсоток для
           кредит буде розраховано шляхом ділення кількості хвилин
           Недоступність за загальною кількістю хвилин у цьому платіжному циклі.
         </li>
         <li>
           Кредити на обслуговування потрібно подати протягом 14 днів після недоступності
           що відбувається через надсилання запиту в службу підтримки. Додайте якомога більше деталей
           необхідно документально підтвердити Недоступність.
         </li>
       </ol>
       <p><strong>Податки</strong></p>
       <ol>
         <li>
           Web-Tech не несе відповідальності за будь-які податки чи інші збори
           відповідно до або пов’язаних із покупками, зробленими у Клієнта або
           Сервер Web-Tech Web Hosting. Клієнт погоджується прийняти повну суму
           відповідальність за всі податки та збори будь-якого характеру, пов’язані з
           таких продуктів продано.
         </li>
       </ol>
       <p><strong>Матеріальні продукти</strong></p>
       <p>
         Замовник надасть Web-Tech матеріал і дані в належному стані
         тобто «готовий до сервера», який знаходиться у формі, яка не потребує додаткових
         маніпуляції з боку Web-Tech. Web-Tech не докладатиме зусиль
         перевірити зміст, правильність або зручність цієї інформації.
       </p>
       <p>
         Користування сервісом Web-Tech вимагає певного рівня знань у
         використання мов Інтернету, протоколів і програмного забезпечення. Цей рівень
         знання змінюються залежно від передбачуваного використання та бажаного змісту
         Веб-простір замовника за допомогою замовника.
       </p>
       <p>Пропонуються такі приклади:</p>
       <ol>
         <li>
           Публікація в Інтернеті: вимагає знання HTML, правильного визначення місця розташування та
           посилання на документи, FTP-перегляд вмісту веб-простору, графіка, текст, звук,
           відображення зображень тощо.
         </li>
         <li>
           CGI-скрипти: вимагає знання середовища UNIX, TAR &amp;
           Команди GUNZIP, сценарії Perl, CShell, дозволи тощо.
         </li>
       </ol>
      <p>
         Замовник погоджується, що він володіє необхідними знаннями для створення
         Веб-простір клієнта. Клієнт погоджується, що це не несе відповідальності
         Web-Tech для надання цих знань або підтримки клієнтів за межами
         визначений сервіс Web-Tech.
       </p>
       <p>
         Web-Tech не здійснюватиме жодного контролю над вмістом
         інформація, що проходить через мережу, за умови, що вона дотримується всіх
         інші умови, викладені в наших Умовах обслуговування та прийнятному використанні
         Директивні документи.
       </p>
       <p>
         Web-Tech залишає за собою право контролювати свою мережу для перевірки відповідності
         з усіма узгодженими Умовами.
       </p>
       <p>
         Клієнт погоджується співпрацювати в будь-яких розумних розслідуваннях
         дотримання ними всіх узгоджених Умов. Відмова від співпраці є
         підстави для негайного вимкнення всіх облікових записів/планів обслуговування.
       </p>
       <p>
         Web-Tech залишає за собою право відключити будь-який веб-сайт або сервер
         представляти загрозу безпеці для клієнтів, серверів Web-Tech або
         мережі.
       </p>
       <p>
         Відкриття кількох облікових записів або планів обслуговування, щоб обійти будь-який
         обмежень або стягнень за перевищення, встановлених Web-Tech, є підставою для
         припинення надання всіх Послуг.
       </p>
       <p>
         Web-Tech не надає жодних гарантій чи заяв будь-якого роду
         виражені чи неявні щодо послуги, яку він надає. Web-Tech також
         відмовляється від будь-яких гарантій придатності для продажу або придатності для конкретного
         і не несе відповідальності за будь-які збитки, які можуть бути заподіяні
         Клієнтом, включаючи втрату даних внаслідок затримок,
         недоставки або перерви в обслуговуванні з будь-якої причини чи помилки або
         упущення Замовника. Використання будь-якої інформації, отриманої шляхом
         Web-Tech несе власний ризик Клієнта, зокрема Web-Tech
         заперечує будь-яку відповідальність за точність або якість інформації
         отримані через його Послуги. Будь-які згадки про швидкість з’єднання
         пов’язані з Послугами Web-Tech є максимально досяжним
         швидкість. Web-Tech не гарантує, що клієнт досягне
         максимальна швидкість з’єднання в будь-який час, оскільки це залежить від різноманітності
         факторів (включаючи ваше власне підключення до Інтернету!). Спеціально Web-Tech
         обмежує свої збитки Клієнту протягом будь-якого часу відсутності доступу або
         інший час простою до пропорційної місячної плати протягом системи
         недоступність.
       </p>
      <p>
         Web-Tech спеціально заперечує будь-яку відповідальність за будь-які збитки
         виникає внаслідок такої недоступності. У випадку, якщо це
         матеріал не є "готовим до сервера", Web-Tech може, за власним бажанням і будь-яким
         час, відхилити цей матеріал, включаючи, але не обмежуючись, після того, як він був
         розміщено на серверах Web-Tech. Web-Tech погоджується повідомити Клієнта
         негайно відмовляється від матеріалу та надає Клієнту
         можливість змінити або змінити матеріал для задоволення потреб та/або
         вимоги Web-Tech. Якщо Клієнт не може змінити матеріал,
         за вказівками Web-Tech протягом розумного періоду часу, який
         визначається між сторонами, договором
         вважатися припиненим.
       </p>
       <p>
         Усі доменні імена, зареєстровані через Web-Tech або його попередній домен
         сайт реєстрації, domainitron.com, які є «припаркованими» або іншим чином
         не відразу пов’язані з планом хостингу Web-Tech
         автоматично вказує на веб-сторінку "Незабаром", яка інформує відвідувачів
         за допомогою якого реєстрант нещодавно зареєстрував своє доменне ім’я
         Web-Tech.com. Веб-сторінка Coming Soon може бути змінена в будь-який час
         Web-Tech без попереднього повідомлення та може включати такі речі, як
         без обмежень, посилання на додаткові продукти та послуги, які пропонує
         Web-Tech.
       </p>
       <p>
         Деякі продукти, включно зі сторонніми, можуть бути безкоштовними
         версії платних функцій. Web-Tech може отримувати винагороду від філії
         від оновлення до або придбання платних версій попередньо встановлених
         особливості.
       </p>
       <p><strong>Торговельні марки &amp; Авторські права</strong></p>
       <ol>
         <li>
           Клієнт гарантує, що він має право використовувати товарні знаки та
           авторські права, що застосовуються до всього створеного вмісту та/або продуктів
           доступні через обліковий запис клієнта.
         </li>
       </ol>
       <p><strong>Відгук</strong></p>
       <p>
         Якщо Ви надаєте Web-Tech пропозиції щодо покращення або додавання нового
         функції чи продукти для Сервісу, або Ви іншим чином надаєте відгук,
         відгуки або відгуки, що стосуються Послуги або Вашого досвіду
         разом із Сервісом, цим ви надаєте Web-Tech постійний, у всьому світі,
         виключна, безвідклична та безоплатна ліцензія та право на використання,
         копіювати, змінювати чи іншим чином використовувати ваші пропозиції, відгуки, відгуки,
         або відгуки для будь-яких цілей, включаючи, але не обмежуючись, маркетинг
         цілей, без будь-якого повідомлення, компенсації чи інших зобов’язань перед вами.
       </p>
       <p><strong>Апаратне забезпечення, обладнання, &amp; Програмне забезпечення</strong></p>
       <ol>
         <li>
           Замовник несе відповідальність і повинен надати всі телефонні,
           комп'ютерне, апаратне та програмне обладнання та послуги, необхідні для
           отримати доступ до Web-Tech Services.
         </li>
         <li>
           Web-Tech не робить заяв, гарантій чи запевнень, що
           Обладнання замовника буде сумісне з Web-Tech Services.
         </li>
       </ol>
      <p><strong>Гарантована безвідмовна робота</strong></p>
       <ol>
         <li>
           Web-Tech гарантує 100% безвідмовну роботу. Неможливість забезпечити 100% час безвідмовної роботи
           призведе до компенсації клієнта відповідно до вказівок
           встановлені тут.
         </li>
         <li>
           Клієнт має право на компенсацію, якщо веб-сайт Клієнта,
           бази даних, електронна пошта, FTP, SSH або веб-пошта стають непридатними для використання в результаті
           збої в системах Web-Tech з причин, відмінних від попередніх
           оголошено планове технічне обслуговування, кодування або помилки конфігурації на
           частина Замовника.
         </li>
         <li>
           Клієнт отримає кредит Web-Tech, рівний поточному кредиту Клієнта
           вартість хостингу за 1 (один) день обслуговування за кожну 1 (одну) годину (або
           їх частка) перерви в обслуговуванні, максимум до 10% від
           Наступна передоплачена плата клієнта за оновлення хостингу.
         </li>
         <li>
           Оцінка Web-Tech часу простою починається, коли Клієнт відкриває a
           запит у службу підтримки, щоб повідомити про проблему.
         </li>
       </ol>
       <p>
         <сильний
           >Положення щодо виділеного сервера Web-Tech і Web-TechCompute</strong
         >
       </p>
       <p>
         Ціни на смугу пропускання та частота вимірювань можуть змінюватися
         Web-Tech на розсуд. Клієнти, яких торкнуться такі зміни, будуть
         повідомлено компанією Web-Tech не менше ніж за тридцять (30) днів.
       </p>
       <p>
         Web-Tech не зобов'язаний компенсувати Клієнту час простою,
         незалежно від того, чи спричинений простой Клієнтом, Web-Tech або Web-Tech
         провайдерів вищестоящого зв’язку.
       </p>
       <p>
         Клієнт погоджується з тим, що платежі за виділений сервер ПОВЕРНЕНню не підлягають. для
         наприклад, якщо Клієнт здійснює оплату за дванадцять (12) місяців обслуговування,
         послуга надаватиметься протягом дванадцяти (12) місяців і не повертатиметься
         якщо Клієнт вирішить припинити надання послуг Web-Tech на півдорозі
         через термін. Плата за послуги Web-TechCompute виставлятиметься щомісяця
         основа; існуючі клієнти Web-TechCompute можуть залишатися на передоплаченій рахунці
         план, але облікові записи нових клієнтів підлягатимуть тарифному плану використання.
         Припинення або оновлення послуг Web-TechCompute призведе до
         такі процедури відшкодування та виставлення рахунків:
       </p>
       <ol>
         <li>
           План Web-TechCompute з попередньою оплатою: будь-яке припинення або оновлення
           призведе до відшкодування пропорційної вартості плану за останній
           розрахунковий період.
         </li>
         <li>
           План Web-TechCompute з розрахунками за використання: будь-яке припинення призведе до
           клієнту виставляється рахунок за використання, округлений до найближчої години.
         </li>
       </ol>
       <p>
         Оновлення апаратного забезпечення до існуючої «платформи» (платформа, визначена як a
         материнська плата/шасі) буде виконано Web-Tech and
         стягується додаткова одноразова оплата праці в розмірі 100 доларів США, а також
         збільшення до стандартної місячної ставки Клієнта.
       </p>
       <p>
         Будь-яка практична робота за потребою замовника (включаючи, але не
         обмежується повторним встановленням операційної системи на сервері).
         виконується компанією Web-Tech і стягує додаткову одноразову оплату праці
         100 доларів США за кожен інцидент.
       </p>
       <p>
         Web-Tech залишає за собою право змінювати пакети виділеного сервера
         рекламується на своєму веб-сайті на власний розсуд. Web-Tech не потрібен
         оновити апаратне забезпечення або розподіл смуги пропускання Клієнта в результаті a
         зміна ціни або пакету послуг. Стягуватиметься додаткова плата в розмірі
         200 доларів США, пов’язаних із будь-яким таким оновленням апаратного забезпечення за запитом Клієнта.
         Клієнту не потрібно буде оновлювати апаратне забезпечення в результаті a
         зміна ціни.
       </p>
       <p>
         Для керованих серверів Web-Tech відповідає за безпеку
         мережа, ядро та базова операційна система (визначена як
         стандартний набір пакетів debian, які встановлюються разом із сервером).
         Web-Tech може в будь-який час вжити будь-яких заходів, які вважатиме за потрібне для захисту
         безпека вашого сервера (зазвичай це включає застосування безпеки
         патчі, а також оновлення всієї операційної системи).
       </p>
       <p>
         Для некерованих серверів, які не використовують опцію моніторингу "Web-TechCatcher",
         Клієнт несе відповідальність за підтримку безпеки своєї системи
         дата. Це включає, але не обмежується такими вимогами:
       </p>
       <ol>
         <li>
           Ядро буде виправлено протягом 7 днів після оголошення безпеки
           отвір, що стосується ядра
         </li>
        <li>
           Будь-які виправлення безпеки для всього встановленого програмного забезпечення повинні бути застосовані в межах
           7 днів після їх загального оголошення спільноті безпеки на
           великий.
         </li>
       </ol>
       <p>
         Web-Tech не несе відповідальності за повідомлення некерованих серверів про потребу
         накладати патчі. Невиконання цих вимог є підставою
         про розірвання договору без повернення коштів. Web-Tech залишає за собою право
         вживати будь-яких дій щодо некерованих виділених серверів, які вважає за потрібне
         у будь-який час для захисту безпеки та цілісності Web-Tech
         мережі.
       </p>
       <p><strong>Вік</strong></p>
       <ol>
         <li>
           Клієнт підтверджує, що йому виповнилося 18 років або інше
           їхній батько або законний опікун буде діяти як «клієнт» з точки зору
           цей договір.
         </li>
       </ol>
       <p><strong>Припинення дії</strong></p>
       <ol>
         <li>
           Цей договір може бути розірвано будь-якою стороною без причини
           письмове повідомлення іншої сторони за 14 днів. Web-Tech прийме
           розірвання електронною поштою. Незважаючи на вищесказане, Web-Tech
           може припинити надання послуг за цим контрактом у будь-який час без
           штраф, якщо Замовник не дотримується умов цього
           договору, в тому числі без оплати. Web-Tech залишає за собою право
           стягнути плату за відновлення.
         </li>
       </ol>
      <p><strong>Обмежена відповідальність</strong></p>
       <ol>
         <li>
           Клієнт однозначно погоджується, що використання Послуг Web-Tech дозволено
           Виключний ризик клієнта. Ні Web-Tech, ні його співробітники, афілійовані особи,
           агенти, сторонні постачальники інформації, торговці ліцензіарами або
           наприклад, гарантувати, що Послуги Web-Tech не будуть перервані або
           без помилок; вони також не дають жодних гарантій щодо результатів, які можуть бути
           бути отримані в результаті використання Послуг або щодо точності,
           надійність або зміст будь-якої інформаційної послуги чи товару
           міститься або надається через Web-Tech Services, якщо інше не передбачено
           прямо зазначено в цьому договорі.
         </li>
         <li>
           За жодних обставин, включаючи недбалість, Web-Tech не має права
           офісів, агентів або будь-кого іншого, хто бере участь у створенні, виробництві або
           розповсюджуючи серверні послуги Web-Tech, несе відповідальність за будь-які прямі,
           непрямих, випадкових, спеціальних або непрямих збитків, які виникають
           від використання або неможливості використання Послуг Web-Tech; або що
           результатами помилок, пропусків, перерв, видалення файлів,
           помилки, дефекти, затримки в роботі або передачі або будь-який збій
           виконання, незалежно від того, обмежується чи не обмежується стихійними лихами, спілкування
           збій, крадіжка, знищення або несанкціонований доступ до Web-Tech
           записи, програми або послуги. Клієнт цим підтверджує, що це
           параграф застосовується до всього вмісту, що використовує Послуги Web-Tech.
         </li>
         <li>
           Незважаючи на вищезазначене, виключні засоби правового захисту Клієнта та
           Повна відповідальність Web-Tech за всі збитки, втрати та причини
           дії, пов’язані з договором, правопорушенням, включаючи недбалість, чи іншим чином,
           що виникають у зв’язку з цими Умовами або внаслідок використання або
           неможливості користування Послугами, не повинна перевищувати загальну суму
           які Клієнт негайно сплатив Web-Tech протягом шести (6) місяців
           перед позовом.
         </li>
       </ol>
       <p><strong>Промокоди</strong></p>
       <ol>
         <li>
           Використовуючи рекламний ("промо") код, ви відмовляєтеся від можливості вказувати
           який направив вас до Web-Tech.
         </li>
         <li>
           Ви не можете змінювати/надсилати промокод або реферера після того, як ви це зробили
           завершив реєстрацію.
         </li>
         <li>
           Промо-коди/реферери призначені лише для нових клієнтів, якщо ви використовуєте один із них
           не може розміщувати у вашому обліковому записі будь-який домен, який колись раніше розміщувався в
           Web-Tech.
         </li>
       </ol>
      <p><strong>Відшкодування</strong></p>
       <p>
         Клієнт погоджується, що він буде захищати, відшкодовувати, зберігати та зберігати Web-Tech
         вільний від будь-яких вимог, зобов'язань, збитків, витрат і
         претензії, включаючи розумні гонорари адвокатів, ("Зобов'язання") заявлені
         проти Web-Tech, її агентів, клієнтів, службовців та
         співробітників, які можуть виникнути або бути результатом будь-якої наданої послуги або
         виконані або погоджені на виконання або будь-який продукт, проданий Клієнтом, його
         агенти, співробітники або правонаступники. Клієнт погоджується захищати, відшкодовувати та
         звільнити Web-Tech від зобов'язань, що випливають з
       </p>
       <ol>
         <li>
           будь-яку травму людини або майна, спричинену будь-якими проданими продуктами або
           іншим чином поширюється у зв’язку з сервером Web-Tech;
         </li>
         <li>
           будь-який матеріал, наданий Клієнтом, який порушує або ймовірно порушує
           про майнові права третьої особи;
         </li>
         <li>порушення авторських прав;</li>
         <li>
           будь-який дефектний продукт, який Клієнт продав на серверах Web-Tech.
         </li>
       </ol>
       <p><strong>Країни, до яких введено санкції</strong></p>
       <p>
         Клієнт погоджується дотримуватися всіх застосовних вимог експорту та реекспорту
         контролювати закони та нормативні акти, включаючи Адміністрацію експорту
         Правила ("EAR"), які підтримується Міністерством торгівлі США
         та економічні санкції, які підтримує Управління казначейства
         Контроль за іноземними активами та міжнародна торгівля зброєю
         Регламент ("ITAR"), який підтримується Державним департаментом.
         Зокрема, Клієнт погоджується, що він не буде – безпосередньо або
         опосередковано – продавати, експортувати, реекспортувати, передавати, перенаправляти або іншим чином
         утилізувати будь-які продукти, програмне забезпечення або технології (включаючи продукти
         отримані з такої технології або засновані на такій технології), отримані від Web-Tech під
         цією Угодою в будь-який пункт призначення, організацію чи особу, яким заборонено
         закони чи нормативні акти Сполучених Штатів без попереднього отримання
         дозвіл від компетентних державних органів відповідно до вимог
         ці закони та правила. Клієнт погоджується відшкодувати збитки в повному обсязі
         у межах, дозволених законом, Web-Tech від і проти будь-яких штрафів або
         штрафи, які можуть виникнути в результаті порушення Клієнтом цього
         положення. Це положення про експортний контроль залишається в силі після припинення або
         анулювання цього Договору.
       </p>
       <p><strong>Інші умови та політика</strong></p>
       <p>
         Клієнт погоджується дотримуватися умов, викладених у цих Умовах обслуговування
         а також інші документи політики Web-Tech, включаючи, але не обмежуючись
         до наведеного нижче, кожен з яких включено тут шляхом посилання,
         і разом з Умовами обслуговування складають повну угоду
         сторін:
       </p>
      <ol>
         <li>
           <a>Політика прийнятного використання</a>
         </li>
         <li><a>Політика боротьби зі спамом</a></li>
         <li><a>Необмежена політика</a></li>
         <li><a >Політика конфіденційності</a></li>
         <li>
           <a>Додаток щодо обробки даних клієнта</a>
         </li>
         <li>
           <a>Умови надання професійних послуг</a>
         </li>
         <li>
           <a>Умови реєстрації домену</a>
         </li>
       </ol>
       <p>
         Повний перелік усіх правил можна знайти тут:
         <a>www.Web-Tech.com/legal</a>.
       </p>
       <p>
         Клієнт також погоджується дотримуватися всіх відповідних умов, викладених усіма
         Партнери та дочірні компанії Web-Tech.
       </p>
       <p><strong>Умови партнерського продукту</strong></p>
       <p>
         <strong>BoldGrid:</strong> використовуючи WP Website Builder, ви погоджуєтесь
         <a>Умови використання BoldGrid</a>].
       </p>
       <p>
         <strong>G Suite і Google Workspace:</strong> за допомогою Web-Tech
         партнерський сервіс Google Workspace (раніше відомий як G Suite), ви
         погодитися на
         <a>Умови використання Google Workspace</a>.
       </p>
       <p>
         <strong>Let's Encrypt:</strong> за допомогою Let's Encrypt
         Сертифікат, ви погоджуєтеся з
         <a>Let's Encrypt Subscriber Agreement</a>.
       </p>
       <p><strong>Перегляд контракту</strong></p>
       <p>
         Оскільки Web-Tech розвивається, ми можемо час від часу змінювати ці Умови
         відображати зміни в нашому бізнесі. Ці зміни можуть включати
         скасування застарілих продуктів або послуг, додаткові комісії та
         зміни в нашій політиці, зокрема. У деяких випадках ми можемо надати
         з додатковим повідомленням про оновлення, включаючи, але не обмежуючись ними
         додавання заяви на веб-сайт, через інформаційний бюлетень або надсилання вам
         сповіщення електронною поштою. Однак це ваша відповідальність періодично
         перевірити поточну версію наших Умов, відвідавши цю сторінку (і
         інші сторінки, згадані в Умовах).
       </p>
       <p>
         Якщо ви продовжуєте використовувати або отримувати доступ до Послуг після дати набуття чинності
         викладеним вище, ви погоджуєтеся виконувати будь-які переглянуті Умови та все інше
         інші умови або правила, включені в цей документ безпосередньо або через
         посилання.
       </p>
       <p><strong>Передача</strong></p>
       <p>
         Клієнт не може переуступати або передавати свої права чи обов’язки
         за цими Умовами без письмової згоди Web-Tech.
       </p>
      <p><strong>Застосовне законодавство</strong></p>
       <p>
         Умови та вирішення будь-яких суперечок регулюються та
         тлумачиться відповідно до законів штату Каліфорнія,
         без урахування принципів колізійного права.
       </p>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>Про нас</h4>
            Web-Tech пропонує чудовий, надійний і доступний веб-хостинг для
            окремих осіб і малих компаній у всьому світі.
          </div>
          <div class="footer-col">
            <h4>Компанія</h4>
            <ul>
              <li><a href="{% url 'main' %}">Головна</a></li>
              <li><a href="{% url 'domain_check:domain_check_page' %}">Перевірка домену</a></li>
              <li><a href="{% url 'ftp_storage:ftp_page' %}">FTP-сховище</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Допомога</h4>
            <ul>
              <li><a href="{% url 'ab_cu_t:faq_page' %}">FAQ</a></li>
              <li><a href="{% url 'ab_cu_t:privacy_policy' %}">Політика конфіденційності</a></li>
              <li><a href="{% url 'contact:contact_us_page' %}">Контакти</a></li>
            </ul>
          </div>
          <div class="footer-col">
                  <h4>Хостинг</h4>
                  <ul>
                    <li><a href="{% url 'host_page:host' %}">Віртуальний-хостинг</a></li>
                    <li><a href="{% url 'host_page:vps_hosting_view' %}"> VPS-хостинг</a></li>
                    <li><a href="{% url 'host_page:cloud_hosting_view' %}">Хмарний хостинг</a></li>
                  </ul>
          </div>
          <div class="footer-col">
            <h4>Слідкувати за нами:</h4>
            <div class="social-links">
              <a href="https://www.facebook.com/"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a href="https://twitter.com/?lang=en"
                ><i class="fab fa-twitter"></i
              ></a>
              <a href="https://www.instagram.com/"
                ><i class="fab fa-instagram"></i
              ></a>
              <a href="https://ua.linkedin.com/"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

  <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
